{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
	<div class="sidebar">
		<h2>Title</h2>
		<ul>
			<li><a href="#">123</a></li>
			<li><a href="#">235345642</a></li>
			<li><a href="#">2354325</a></li>
			<li><a href="#">2353255</a></li>
			<li><a href="#">235235</a></li>
			<li><a href="#">23523532532535</a></li>
		</ul>

		<div class="social_media">
			<img src="https://cdn-icons.flaticon.com/png/512/739/premium/739244.png?token=exp=1647894693~hmac=231d422b39014cd71b44c58b4d0d1f63">
			<img src="https://cdn-icons.flaticon.com/png/512/1240/premium/1240964.png?token=exp=1647894693~hmac=92e79aa175992a9a9e8ca1f989a767ef">
			<img src="https://cdn-icons-png.flaticon.com/512/220/220375.png">
		</div>
	</div>
</div>
{% endblock %}